
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~bootstrap-social/bootstrap-social";

body, html {
  height: 100%;
  margin: 0;
}

.background-welcome {
  background: url("../images/themeforest.jpg") no-repeat center center;
  height: 100%;
  background-size: cover;
}

@import '~font-awesome/scss/font-awesome.scss';